@namespace BlazorShared.Pages


@page "/SQL/CMS"


<PageContainer Title="CMS 数据导入">
	<Content>
		<span>
			请确认选中目录下只有一个机组的数据,CMC所建测点名和SQLite内部测点名一致。
		</span>
	</Content>
	<ChildContent>
		<Card>
			<GridRow Justify="center">
				<GridCol Span="24">
					<Button OnClick="addRow" Type="primary" Style="margin-bottom:16px">
						Add a row
					</Button>
					<Table DataSource="listOfData" RowClassName="@(_=>"editable-row")" Bordered>
						<PropertyColumn Width="30%" Property="c=>c.Name">
							@if (editId == context.Id)
							{
								<Input Type="text" @bind-Value="context.Name" OnBlur="stopEdit" AutoFocus />
							}
							else
							{
								<div class="editable-cell-value-wrap" style="padding-right:24px" @onclick="()=>startEdit(context.Id)">
									@context.Name
								</div>
							}
						</PropertyColumn>
						<PropertyColumn Property="c=>c.Age"></PropertyColumn>
						<PropertyColumn Property="c=>c.Address"></PropertyColumn>
						<ActionColumn Title="Action">
							<Popconfirm Title="Sure to delete?"
										OnConfirm="()=> deleteRow(context.Id)"
										OkText="Yes"
										CancelText="No">
								<a>Delete</a>
							</Popconfirm>
						</ActionColumn>
					</Table>
				</GridCol>
			</GridRow>
			<Divider>Text</Divider>
			<GridRow Justify="space-around">
				<GridCol Span="4">
					@if (platformNameProvider.IsWebPlatfor())
					{

					}
					else
					{
						<Button Type="primary" OnClick="OpenDialog">
							选择数据，并进行导入
						</Button>
					}

				</GridCol>
				<GridCol Span="4">
					@if (platformNameProvider.IsWebPlatfor())
					{

					}
					else
					{
						<Button Type="primary" OnClick="@(()=>{ _visible = true; })">
							数据库设置
						</Button>
					}

				</GridCol>
			</GridRow>
		</Card>
		<Modal Title="@title" Visible="@_visible" OnOk="@HandleOk" OnCancel="@HandleCancel">

		</Modal>
	</ChildContent>

</PageContainer>