@namespace BlazorShared.Pages


@page "/SQL/CMS"


<PageContainer Title="CMS 数据导入">
	<Content>
		<span>
			请确认选中目录下只有一个机组的数据,CMC所建测点名和SQLite内部测点名一致。
		</span>
	</Content>
	<ChildContent>
		<Card>
			<GridRow>
				<GridCol Span="24">
					@if (platformNameProvider.IsWebPlatfor())
					{

					}
					else
					{
						<AntDesign.Input @bind-Value="@directoryPath">
							<AddOnAfter><Button OnClick="OpenDialog">选择文件夹</Button></AddOnAfter>
						</AntDesign.Input>
					}
				</GridCol>
				<GridCol Span="16" Offset="8">
					<Button Type="primary" OnClick="@(()=>{ _visible = true; })">
						进行配置
					</Button>
				</GridCol>
			</GridRow>

		</Card>
		<Modal Title="@title" Visible="@_visible" OnOk="@HandleOk" OnCancel="@HandleCancel">

		</Modal>
	</ChildContent>

</PageContainer>