@namespace BlazorShared.Pages


@page "/SQL/CMS"


<PageContainer Title="CMS 数据导入">
	<Content>
		<span>
			请确认选中目录下只有一个机组的数据,CMC所建测点名和SQLite内部测点名一致。
		</span>
	</Content>
	<ChildContent>
		<Card>
			<GridRow Justify="center">
				<GridCol Span="24">
					<Select TItem="Organization"
							TItemValue="int?"
							DataSource="@_provinces"
							@bind-Value="@_selectedProvince"
							ValueName="@nameof(Organization.Id)"
							LabelName="@nameof(Organization.Name)"
							Placeholder="Select a province"
							AllowClear
							Style="width: 200px;margin-bottom: 16px"
							OnSelectedItemChanged="OnSelectedItemChangedHandler">
					</Select>

					<Select DataSource="@_cities"
							@bind-Value="@_selectedCity"
							ValueName="@nameof(Machine.Id)"
							LabelName="@nameof(Machine.Name)"
							Placeholder="Select a city"
							Style="width: 200px;margin-bottom: 16px"
							AllowClear>
					</Select>
					<Table DataSource="listOfData" RowClassName="@(_=>"editable-row")" Bordered>
						<PropertyColumn Property="c=>c.Name"><TitleTemplate>文件名</TitleTemplate></PropertyColumn>
						<PropertyColumn Property="c=>c.Status"><TitleTemplate>状态</TitleTemplate></PropertyColumn>
						<PropertyColumn Property="c=>c.Context"><TitleTemplate>内容</TitleTemplate></PropertyColumn>
						<PropertyColumn Property="c=>c.Createtime"><TitleTemplate>创建时间</TitleTemplate></PropertyColumn>
					</Table>
				</GridCol>
			</GridRow>
			<Divider></Divider>
			<GridRow Justify="space-around">
				<GridCol Span="4">
					@if (platformNameProvider.IsWebPlatfor())
					{

					}
					else
					{
						<Button Type="primary" OnClick="OpenDialog">
							选择数据，并进行导入
						</Button>
					}

				</GridCol>
				<GridCol Span="4">
					@if (platformNameProvider.IsWebPlatfor())
					{

					}
					else
					{
						<Button Type="primary" OnClick="@(()=>{ _visible = true; })">
							数据库设置
						</Button>
					}

				</GridCol>
			</GridRow>
		</Card>
		<Modal Title="@title" Visible="@_visible" OnOk="@HandleOk" OnCancel="@HandleCancel">

		</Modal>
	</ChildContent>

</PageContainer>